<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="sapoon.communityservice.mapper.CommunityMapper">

    <insert id="insertCommuity" parameterType="CommunityVo">
        INSERT INTO community (writer, contents, score1, score2, score3, score4, star_score, total_score,
            start_time, end_time, img_url, dulle_seq)
        VALUES (#{writer}, #{contents}, #{score1}, #{score2}, #{score3}, #{score4}, #{starScore}, #{totalScore},
            #{startTime}, #{endTime}, #{imgUrl}, #{dulleSeq});
    </insert>


    <select id="selectCommunityList" resultType="sapoon.communityservice.vo.CommunityVo">
       SELECT seq, writer, contents, score1, score2, score3, score4,
            star_score as starScore,
            total_score as totalScore,
            DATE_FORMAT(start_time,'%h:%i%p') as startTime,
            DATE_FORMAT(end_time,'%h:%i%p') as endTime,
            img_url as imgUrl, reg_date as regDate,
            dulle_seq as dulleSeq
       FROM community ORDER BY reg_date DESC LIMIT 5;
    </select>

    <select id="selectCommunity" parameterType="int" resultType="sapoon.communityservice.vo.CommunityVo">
        SELECT seq, writer, contents, score1, score2, score3, score4,
            total_score as totalScore,
            star_score as starScore,
            DATE_FORMAT(start_time,'%h:%i%p') as startTime,
            DATE_FORMAT(end_time,'%h:%i%p') as endTime,
            img_url as imgUrl, reg_date as regDate,
            dulle_seq as dulleSeq
        FROM community WHERE seq = #{seq}
    </select>

    <select id="selectCommunityListByDulle"  parameterType="int" resultType="sapoon.communityservice.vo.CommunityVo">
       SELECT seq, writer, contents, score1, score2, score3, score4,
            total_score as totalScore,
            DATE_FORMAT(start_time,'%h:%i%p') as startTime,
            DATE_FORMAT(end_time,'%h:%i%p') as endTime,
            img_url as imgUrl, reg_date as regDate,
            dulle_seq as dulleSeq
       FROM community WHERE dulle_seq = #{dulleSeq}
       ORDER BY reg_date DESC LIMIT 5;
    </select>

    <!--전체 갯수가져오기-->
    <!--SELECT MAX(seq) FROM community;-->
    <select id="selectTotalCommunityCount"  parameterType="int" resultType="int">
        SELECT COUNT(*) FROM community
    </select>

    <!--둘레길로 평균 값 구하는거.-->
    <select id="selectAvrCommunityCount"  parameterType="int" resultType="int">
        SELECT IFNULL(AVG(total_score),0)  FROM  community WHERE dulle_seq =#{dulleSeq};
    </select>

</mapper>