<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sapoon.loginmembservice.mapper.MemberInfoMapper">

    <select id="selectId" parameterType="String" resultType="String">
        SELECT
            count(id)
        FROM
            member_info
        WHERE
            id = #{id}
    </select>

    <insert id="insertMember" parameterType="MemberInfoVO" >
        INSERT INTO
        MEMBER_INFO(
            ID,
            PW,
            NAME,
            NICKNAME,
            EMAIL,
            GENDER,
            LOGIN_TOKEN,
            REG_ID,
            REG_DATE,
            REGIST_PATH,
            BIRTHDAY
            )
        VALUES(
            #{id},
            #{password},
            #{name},
            #{nickname},
            #{email},
            #{gender},
            1,
            #{id},
            now(),
            #{registPath},
            #{birthday}
            )
    </insert>
    
    <update id="updatePassword" parameterType="MemberInfoVO">
        update
            MEMBER_INFO
        set
            PW = #{password},
            UPD_ID = #{id},
            UPD_DATE = now()
        where
            ID = #{id}
    </update>

    <update id="updateInfo" parameterType="MemberInfoVO">
        update
            MEMBER_INFO
        set
            ID = #{id},
            BIRTHDAY = #{birthday},
            NICKNAME = #{nickname},
            email = #{email}
            UPD_ID = #{id},
            UPD_DATE = now()
        where
            ID = #{id}
    </update>

    <select id="selectMember" parameterType="String" resultType="MemberInfoVO">
        select
            ID,
            NICKNAME,
            EMAIL,
            BIRTHDAY,
            REG_DATE as regDate,
            UPD_DATe as updDate
        FROM
            MEMBER_INFO
        WHERE
            ID = #{id}
    </select>

    <select id="selectIdUsingNameEmailBirthday" parameterType="MemberInfoVO" resultType="MemberInfoVO">
        select
            ID
        FROM
            MEMBER_INFO
        WHERE
            NAME = #{name}
            AND
            EMAIL = #{email}
            AND
            BIRTHDAY = #{birthday}
    </select>

</mapper>